body {
  margin: 0;
  -webkit-perspective: 1000;
  background: url(https://f.cl.ly/items/3Q031Q1m1s1d3C0I023k/geometry2.png);
  font-family: Avenir Next, sans-serif;
  overflow-x: hidden;
}


.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/*************************************/
.banner{
  background-image: url('../img/Platos-Panchita-1.webp');
  background-repeat: no-repeat;     
  background-size: cover;
  background-attachment: fixed; 
}
/**********************/
 .contenedor-icono {
    position: absolute;
    z-index: 99;
    bottom: 3%;
    left: 50%;
    font-size: 40px;
    animation: bajar-subir 1s ease infinite;
}
@keyframes bajar-subir {
    0% { transform: translateY(20px); }
    25% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}


/***************menu **************/

/*************************/
#header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  z-index: 1000;
  transition: 0.6s;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#header.sticky{
  padding: 20px 100px;
  background:#401212;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

#header .logo{
  position: relative;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

#header .nav{
  position:  relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .nav .nav-items{
  position: relative;
  list-style: none;
}

#header .nav .nav-items .nav-items-a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 300;
  transition: 0.6s;
}

#header.sticky .logo ,
#header.sticky .nav .nav-items .nav-items-a{
background:#401212;
  color: white;
}

.nav-items-a {
  position: relative;
  padding: 1rem 0 0.5rem;
  margin: 0 1.5rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-items-a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) scaleX(0);
  transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.nav-items-a:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
  transform: translateX(-50%) scaleX(1);
}

/*********************************************************/
.box-wrap:hover .box{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}
.box-wrap:hover .box:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}

/*********************************************************/
.carousel-background-item1{
  background: url('../img/Cocina-Peruana.webp'); 
  background-repeat: no-repeat;     
  background-size: cover;

}

.carousel-background-item2{
  background: url('../img/Cocina-peruana-1.webp'); 
  background-repeat: no-repeat;     
  background-size: cover;

}

.carousel-background-item3{
  background: url('../img/2b0e1ee16767c7e3e939d82e5785b0be.webp'); 
  background-repeat: no-repeat;     
  background-size: cover;

}
.separador{
 display: none
}
/*********************************************************/
.plato{
   display: none;
}
.gallery_box li{ 
  width:33.333333%; 
  max-width: 100%; 
  display:inline-block; 
  float: left;
  text-align: center; 
  overflow: hidden;    
  position: relative;
}
.gallery_box{ padding:0;display: flow-root;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}
.gallery_box li:nth-child(even) {
    height: 280px;
}
.gallery_box li:nth-child(odd) {
    height: 280px; 
}
.gallery_box .box_data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff;}
.gallery_box .box_data span{ 
  position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}
.gallery_box li:hover .box_data .plato{ background:rgba(0,0,0,0.27);display: block;}

/****************************************/

.item {
  align-items: center;
  background-color: #fff;
  border: 1px solid #eee;
  display: flex;
  height: 400px;
  justify-content: center;
  position: relative;
  width: 400px;
  z-index: 1000;
}
.item img {
  object-fit: cover;
  height: 400px;
  width: 400px;
}
.item::before, .item::after {
  background-image: linear-gradient(-180deg, #A1DEFF 0%, #5EA3DB 97%);
  content: '';
  height: 100%;
  position: absolute;
  transition: all .2s;
  transition-delay: .2s;
  transform: translateY(0px) translateX(0px);
  width: 100%;
  z-index: -1;
}
.item::after {
  background-image: linear-gradient(0deg, #FFCF70 0%, #FFAE3D 97%);
}
.item:hover {
  animation-name: hoverPop;
  animation-duration: .4s;
  animation-fill-direction: forward;
}
.item:hover img {
  box-shadow: 2px 2px 4px 0px rgba(10, 12, 15, 0.27);
  box-shadow: 0px 0px 30px 0px rgba(10, 12, 15, 0.27);
}
.item:hover::before {
  animation: slick-hover-2 3s .4s linear infinite;
  transform: translateY(-20px) translateX(-20px);
}
.item:hover::after {
  animation: slick-hover 3s .4s linear infinite reverse;
  transform: translateY(20px) translateX(20px);
}

@keyframes hoverPop {
  0%, 100% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.05);
  }
  66% {
    transform: scale(0.9);
  }
}
@keyframes slick-hover {
  0.00% {
    transform: translateY(20px) translateX(20px);
  }
  16.67% {
    transform: translateY(-13px) translateX(-9px);
  }
  33.33% {
    transform: translateY(4px) translateX(12px);
  }
  50.00% {
    transform: translateY(20px) translateX(-20px);
  }
  66.67% {
    transform: translateY(-3px) translateX(8px);
  }
  83.33% {
    transform: translateY(-15px) translateX(-11px);
  }
  100.00% {
    transform: translateY(20px) translateX(20px);
  }
}
@keyframes slick-hover-2 {
  0.00% {
    transform: translateY(-20px) translateX(-20px);
  }
  16.67% {
    transform: translateY(3px) translateX(-5px);
  }
  33.33% {
    transform: translateY(18px) translateX(-10px);
  }
  50.00% {
    transform: translateY(-20px) translateX(20px);
  }
  66.67% {
    transform: translateY(15px) translateX(-4px);
  }
  83.33% {
    transform: translateY(-1px) translateX(15px);
  }
  100.00% {
    transform: translateY(-20px) translateX(-20px);
  }
}


/**************************************************/
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
.btn-whatsapp {
  display:block;
    width:30px;
    height:30px;
    color:#fff;
    position: fixed;
    left:10px;
    bottom:80px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}
 .social-img:hover{  
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
}

.social-img{
  width: 100px;
}

/***************************************************/

footer { 
  width:100%; 
  background-color:#401212; 
  min-height:250px; 
  padding:10px 0px 25px 0px;
}
/***********************/
@media  (max-width: 992px) {
  /* For tablets: */

  .toggle{
  display: block;
  background-image: url('../img/menu.png');
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  filter: invert(1);
  background-size: 30px;
  background-repeat: no-repeat;
  z-index: 1000;
  }

#header {
  padding: 5px 50px;
  background:#401212; 
  }

#header .nav {
  position: absolute;
  top:45px;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: auto;
  background:#fbc704;
  visibility: hidden;
  opacity: 0;
  }

#header.active .nav {
  visibility: visible;
  opacity: 1;
  display: block;
  top: 31px;
  }

#header.active .nav .nav-items .nav-items-a {
  display: inline-block;
  margin: 10px 0;
  font-size: 20px;
  }

#header .logo,
#header .nav .nav-items .nav-items-a{
  color: white;
  }

  .separador{
  display: inline;
  }
  .gallery_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .gallery_box li{
    width: 480px;
    height: 480px;
  }
   .contenedor-icono {
      display: none;
  }
}
@media  (max-width: 700px) {
  /* For tablets: */
  .gallery_box{
    margin: 10px;
    display: block;
    display: grid;
    grid-template-columns: 1fr;
  }
  .gallery_box li{
    width: 100%;
    height: 100%;
  }
   .contenedor-icono {
      display: none;
  }
}
